<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />

</head>
<body>
    <header>
        <center>


            <a href="/Home/Index" class="btn btn-primary">Home</a>
            <a href="/Home/inde" class="btn btn-dark">about-us</a>
            <a href="/Home/ind" class="btn btn-primary">connect-me</a>

        </center>
    </header>

    <div>
        @RenderBody()
    </div>
</body>
</html>
